.background-light{
    background-color:#EBEBE6
}
.background-white{
    background-color: #fff;
}
.background-primary{
    background-color: $primary-color;
}
.background-dark{
    background:#000
}